#btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #1877f2;
  color: #fff;
  border: 0;
  padding: 1rem 2rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &.link {
    background-color: transparent;
    color: #1877f2;
    box-shadow: none;
    font-weight: bold;
  }
  &.normal-button{
    background-color: white;
    color: black;

  }
}
