.table-container{
  width: 100%;
  position: relative;



table {
  width: 100%;

}

th {
  text-align: left;
  padding: 1rem;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-radius: 0;
}

td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  font-size: 1.5rem;
}
// td > .data{
//   padding: 1rem;
//   display: inline-block;
// }

}